certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.11
graphviz==0.15
idna==2.10
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.2
olefile==0.46
pillow==8.0.1
pip==20.3.3
promise==2.3
protobuf==3.14.0
psutil==5.7.3
ptflops==0.6.4
python-dateutil==2.8.1
pyyaml==5.3.1
requests==2.25.1
sentry-sdk==0.19.5
setuptools==51.0.0.post20201207
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
typing-extensions==3.7.4.3
urllib3==1.26.2
wandb==0.10.12
watchdog==1.0.1
wheel==0.36.2